# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Foundry
out/
cache_forge/
broadcast/

# Coverage
coverage/
coverage.json
.nyc_output/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/

# Misc
*.tsbuildinfo

# Snopshots
.gas-snapshot
